<!-- 

<table mat-table [dataSource]="data" class="mat-elevation-z8">
  
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>ID.</th>

    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>UserID</th>
    <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
  </ng-container>


  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>


  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Body</th>
    <td mat-cell *matCellDef="let element">{{ element.body }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->
<div class="card">
  <div *ngFor="let item of temp">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>User ID: {{ item.id }}</mat-card-title>
      </mat-card-header>
      <div *ngFor="let x of item.data">
        <mat-card-content>
          <p>
            {{ x.title }}
          </p>
          <mat-card-subtitle>{{ x.body }}</mat-card-subtitle>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
